@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo:wght@200..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo:wght@200..1000&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --main-color: rgb(0, 48, 96);
  --second-color: #055c9d;
  --third-color: #0e86d4;
  --fourd-color: #68bbe3;
  --main-border: 7px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: muli;
  direction: ltr;
  height: 3500px;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
header .container{
    width: 1487px;
    height: 719px;
    margin-top: 56px;
    padding: 10px;
    
   
    background-color: white;
}
header .container nav  {
    display: flex;
justify-content: space-between;
}
header .container nav img {
height: 41px;
width: 160px;

}
header .container nav ul {
   display:flex ;
  justify-content: center;
  align-content: center;
  width: 630px;
  height: 23px;


}
header .container nav ul li {
margin: 0 28px;


}
header .container nav ul li a{
color: #1F1534;
}

header .container .element {
width: 131.58px;
height: 115px;
/* opacity: -30%; */
position: absolute;
top :160px;
left: 20px;
}
.active{
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}
.noactive{
 
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
}
header .container .hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}
header .container .hero .title{
width: 445px;
height: 338;
display: flex;
justify-content: start;
align-content: space-around;
flex-direction: column;

}
header .container .hero .title h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0%;
    margin-bottom: 20px;
}
header .container .hero .title p{
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: 0%;
}
header .container .hero .title button{
    border: none;
    border-radius: 55px;
    background-color:#458FF6 ;
    color: white;
    width: 200px;
    height: 56px;
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
    letter-spacing: 0%;
    margin-bottom: 20px;
}
header .container .hero img{
    width: 693px;
height: 598px;
}
/* ******************************************************************** */
.services  {
 position: relative;
   

}
.services .img1 {
   width: 1118px;
   height: 965px;
   position: absolute;
   z-index: -1;
   

}
.services .img2 {
  position: absolute;
   width: 131px;
   height: 115px;
   left: 80%;
   top: 49%;
   z-index: -1;
   

}

.services .container h2{
    width:212px;
    height: 56px;
     font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    letter-spacing: 0%;
    margin-bottom: 20px;
    margin: 80px auto 20px auto;
    position: relative;
}
.services .container h2::after{
content: "";
position: absolute;
width: 75px;
height: 3px;
background-color: #000;
top:90px;
left: 30%;
}
.services .container  .desc{
 
  /* padding: 10px;  */
   width: 952px;
    height: 60px;
     font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    margin-bottom: 20px;
    margin: 70px auto ;
    margin-left: 20%;
    /* transform: translatex(-50%); */


}

.services .container .box-services{
 display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 15px;
  
}
.services .container .box-services .service{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  width: 350px;
    height: 354px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 40px 50px 0 #E5E9F666;
}
.services .container .box-services .service img{ 
    width: 35%;
    height: 40%;
    padding: 20px;
    margin-bottom: 15px;
}

.services .container .btn-services{
  margin: 80px auto 20px;
  margin-left: 47%;
  transform: translateX(-50%);
  width: 200px;
  height: 60px;
  font-weight: 700;
  font-size: 18px;
 border:  1.4px solid #458FF6;
 border-radius: 30px;
   
   
}
/* ************************************************************* */

.leadings .container {
  margin: 200px;
display: flex;
justify-content: center;
align-content: space-between;
align-items: center;
padding: 20px;

}

.leadings .container img {
  width: 650px;
  height: 477px;
  margin-right:20px;


}
.leadings .container .leading {
  margin-left: 50px;
  width: 468px;
  height: 388px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  align-content: space-evenly;
  position: relative;
 

}
.leadings .container .leading h3{
  font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    letter-spacing: 0%;
   color: #000000;
}
.leadings .container .leading p{
  font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
  
}
.leadings .container .leading button{
  font-weight: 700;
    font-size: 18px;

 
    width: 200px;
    height: 60px;
    border: 1.4px solid #458FF6;
    border-radius: 30px;
  
}

.leadings .container .leading::after{
content: "";
position: absolute;
width: 60px;
height: 2px;
background-color: #000000;
top:100px;
left: 0;
border-radius: 10px;
}

/* **************************************************** */

.download.container {
   margin: 200px;
display: flex;
justify-content: center;
align-content: space-between;
align-items: center;
padding: 20px;
flex-direction: row-reverse;
}
.downloads .container img {
  width: 650px;
  height: 477px;
  margin-left:20px;
}

.downloads .container .leading {
  margin-right: 50px;}

  .downloads .container .leading button .fa-arrow-down{
    margin-left: 4px;
  }
  /* ************************************** */

  .customer .container{
    width: 1120px;
    height: 425px;
    border-radius: 24px;
    background:linear-gradient(to bottom,#67C3F3,#5A98F2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    padding: 20px;
    position: relative;
    
  }
  
  .customer .container .back{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  .customer .container .info{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    align-content: space-between;
    margin-left: 30px;
    margin-top: 50px;
    
  }
   .customer .container h2{
    
font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0%;
     color: #FFFFFFE5;
     margin-bottom:70px ;
     margin-top: -50px;
   }
  .customer .container .info .person{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
  }
  .customer .container .info .person img{
width: 141px;
height: 141px;
  }
  .customer .container .info .person .p0{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    align-content: center;
    margin-left: 10px;
  }
  .customer .container .info .person .p1{
width: 184px;

font-weight: 700;
    font-size: 22px;
     color: #FFFFFFE5;
  }
  .customer .container .info .person .p2{
width: 119px;

font-weight: 400;
    font-size: 18px;
    margin-top: -15px;
     color: #FFFFFFE5;
  }
  .customer .container .info  .p3{
width: 420px;
height: 120px;
font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #FFFFFFE5;
     /* margin-left: 100px; */
  }
  .arrow-img{
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 336px;
    height: 20px;
    margin-left: 50%;
    transform: translate(-50%);
  }


  /* Start courses section  */

  .section-title {
  text-align: center;
  font-size: 40px;
  color:#000000;
  margin-bottom: 20px;
  font-family: muli;
  margin-top: 50px;
  font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: 0%;
    position: relative;
    margin-bottom: 110px;
   
}
.section-title::after{
  content: "";
position: absolute;
width: 75px;
height: 3px;
background-color: #000000;
top:90px;
left: 50%;
transform: translateX(-50%);
}
.section-desc {
  text-align: center;
  font-size: 20px;
  color: black;
  margin-bottom: 30px;
  line-height: 1.7;
}
.courses {
  padding: 70px 0;
  background-color:white;
  position: relative;

}
.courses .bg-img{
  position: absolute;
  width: 780px;
  height: 560px;
left: 50%;
top: 30%;
}
.courses .bg-img2{
  position: absolute;
  width: 135px;
  height: 115px;
left: 8%;
top: 28%;
}
.courses .all-courses {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 15px;
  margin-top: 50px;
}
.courses .all-courses .course {
  background-color: white;
  padding-bottom: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 18px;
  transition: 0.4s;
  position: relative;
  overflow: hidden;
  
  width: 350px;
  height: 512px;
  background-color: white;
  box-shadow: 2px 2px 10px #eee;
   
}


.courses .all-courses .course img {
  width: 100%;
  height: 240px;
  background-size: cover;
}
.courses .all-courses .course .info {
/* display: flex;
 flex-direction: column;
justify-content:start;
align-items: start;
align-content: start; */
/* align-content: space-between; */
padding: 10px;
}

.courses .all-courses .course .course-title {
width: 251px;
height: 64px;
font-weight: 700;
    font-size: 21px;
   
color: #000000;
padding: 3px;
padding: 10px;
margin: 0 auto;
}
.courses .all-courses .course p {
  width: 266px;
height: 84px;
font-weight: 300;
    font-size: 16px;
 overflow-wrap: break-word;
 white-space: normal;
color: #000000;
margin-left: -25px;
padding: 10px;
margin: 0 auto;

}
.a{

  margin: -40px 0 10px -47px ;
}
.courses .all-courses .course div {
  border: none;
  width: 266px;
  height: 28px;
font-weight: 600;
    font-size: 17px;
color: #4089ED;
padding: 3px;
padding: 10px;
margin: 0 auto;
/* background-color: white; */
/* margin-right:-100% ; */
margin-top: 30px;
}
.courses .all-courses .course div i{
margin-left: 5px;
}
.courses .all-courses .course .info {
display: flex;
flex-direction: column;
margin-top: 15px;
justify-items: flex-start;
justify-content: start;
align-items: start;
align-content: flex-start;

}
.btn-cour{
  margin: 50px auto;
 margin-left: 48%;
 transform: translateX(-50%);
}

/* End courses section  */
/* ***************************************************************** */
footer{
  width: 100%;
  height: 523px;
    background:linear-gradient(to bottom,#67C3F3,#5A98F2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    position: relative;

}
footer .footer1{
  width: 391px;
  height: 201px;
overflow-wrap: break-word;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
position: relative;
}
footer .footer1 div div :last-child {
  position: absolute;
   margin-left: -29px;
   margin-top: 11px;
  }
  footer .footer2 p,
footer .footer3 p,
footer .footer4 p{
 font-weight: 300;
 font-size: 18px;
}
footer .footer2 :first-child,
footer .footer3 :first-child,
footer .footer4 :first-child{
 font-weight: 700;
 font-size: 20px;
}
footer .footer-img1{
  position: absolute;
  left: 85%;
  top: -20%;
}
footer .footer-img2{
  position: absolute;
  left: 1%;
  top: 73%;
}